<template name="highlight">
   <div class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <h3 class="header center teal-text">Re-discover the Flatlands</h3>
          <div class="row center">
            <h5 class="header col s12 light teal-text text-lighten-4">3 amazing days traveling through the Atacama desert</h5>
          </div>
          <div class="row center">
            <a href="#" class="btn-large waves-effect waves-light teal lighten-1">Check it out!</a>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="img/airship1.jpg" alt="Unsplashed background img 2">
      </div>
    </div>
</template>